.product-detail-slider button.slick-prev {
  left: 0;
  top: 55px;
  z-index: 10;
}
.product-detail-slider button.slick-next {
  right: 20px;
  top: 55px;
  z-index: 10;
}

.product-detail-slider button.slick-next::before {
  color: gray;
  content: '\276F';
  background-color: rgb(214, 214, 214);
  width: 40px;
  height: 40px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-detail-slider button.slick-prev::before {
  color: gray;
  content: '\276E';
  background-color: rgb(214, 214, 214);
  width: 40px;
  height: 40px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
